.stock-item-wrap {
  border-radius: 12px;
  padding: 16px;
  margin: 24px 0;

  .stock-events-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .stock-plate-info {
    display: flex;
    flex-direction: column;
  }

  .plate-item {
    padding: 4px 6px;
    margin: 0 6px 8px 0;
    border: 1px solid #d43d3f;
    border-radius: 8px;
    font-size: 14px;
  }

  .events-date {
    flex-shrink: 0;
  }
}
