.limitup-wrapper {
    width: 100%;

    .header-wrapper {
        height: 50px;
        margin-top: 20rpx;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .datepicker {
            margin-left: 16px;
        }
    }

    .analyse-area {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .reason-tag {
        margin-bottom: 8px;
    }
}